<!DOCTYPE html>
<html>
    <head>
        <title>Change Password Page</title>
        <link rel="stylesheet" href="User Settings.css">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
<body>
<div class="containersettings">
    <a href="Profile Settings Page.html" class="btn back"> ⮜ Go back</a>
    <div class="setting">
        <h3>Change your password</h3>
        <form onsubmit="validatePasswordForm(event)">
            <label><input type="password" id="currentPassword" placeholder="Current Password" required></label><br>
            <label><input type="password" id="newPassword" placeholder="New Password" required></label><br>
            <label><input type="password" id="confirmPassword" placeholder="Confirm New Password" required></label><br>
            <button class="btn" type="submit">Change Password</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/Controller/themeswitch.js"></script>
<script src="/Controller/ChangePassword.js"></script>
</body>
</html>
