body {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#logo, #logo-dark {
    margin-top: 10px;
    margin-bottom: -15px;
}

.container {
    width: 80%;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

form br {
    display: none;
}

form > * {
    margin: 4px 0;
}

.input-box {
    width: 100%;
    padding: 10px 16px;
    border-radius: 999px;
    border: 0.5px solid var(--posts);
    background: rgba(34, 8, 31, 0.45);
    color: var(--posts);
    font-family: 'Syne', sans-serif;
    font-size: 0.85vw;
    font-weight: 400;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s;
    padding: 15px;
}

.input-box::placeholder {
    color: var(--posts);
    opacity: 0.5;
}

.input-box:focus {
    border: 0.5px solid var(--posts);
    opacity: 1;
}

.container p {
    font-family: 'Syne', sans-serif;
    font-size: 0.8vw;
    color: var(--posts);
    margin: 4px 0;
    opacity: 0.7;
}

.container p a {
    color: var(--posts);
    font-weight: 700;
    text-decoration: none;
}

.container p a:hover {
    text-decoration: underline;
}

.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn {
    background: linear-gradient(90deg, var(--secondary), var(--accent));
    border-radius: 999px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 0.7vw;
    letter-spacing: -1px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 1.2rem 7rem;
    position: relative;
    margin-top: 24px;
}

.btn span {
    background: #3e2245;
    border-radius: 999px;
    color: var(--posts);
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 0.7vw;
    letter-spacing: -1px;
    display: grid;
    inset: 2px;
    place-items: center;
    position: absolute;
    transition: background 0.3s;
}

.btn:hover span {
    background: none;
}
