body {
    background-color: #FAF9F6;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center; /* centers the image */
}

.image {
    width: 550px;
    margin-top: 40px; 
}

.input-box {
    width: 350px;      /* makes it wider */
    padding: 14px;     /* makes it taller */
    font-size: 16px;
}

.btn {
    width: 80px;    
    padding: 10px;     /* height */
    font-size: 12px;
    margin-bottom: 40px;
}

form p {
    font-style: italic;
    width: 350px;           /* same width as inputs */
    margin: 5px auto 0;
}
