<!-- <!DOCTYPE html>
<html>
<head>
    <title>INKLING</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="LandingPage.css">
</head>
<body>
    <div id="rollingcontainer">
            <div id="npmlist"></div>
    </div>
    <div class="maincontainer">
        <img id="header-logo" src="../assets/logo-darkmode.png">
        <div class="top">
            <h2 id="tagline"> for creatives, by creatives.</h2>
            <div class="pill-wrapper">
                <canvas id="lamp-anim"></canvas>
                <div class="pill">
                    <img src="../assets/animator.jpg" alt="Animator">
                    <img src="../assets/photographer.jpg" alt="Photographer">
                    <img src="../assets/painter.jpg" alt="Painter">
                    <img src="../assets/filmmaker.jpg" alt="Singer">
                    <img src="../assets/dj.jpg" alt="DJ">
                    <img src="../assets/interior.jpg" alt="Interior Designer">
                </div>
            </div>
            <div class="scroll-arrow" id="scrollArrow">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>  
            </div>
        </div>

        <div class="mid"> 
                <h2 class="aboutheader"> find your people, grow your portfolios, make your dreams reality. </h2>
                <h2 class="aboutheader">  it takes an inkling of an idea to paint a canvas of opportunity </h2>
        </div>


    </div>

    
</body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/Controller/LandingPage.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="/Controller/AnimatedBG.js"></script>
</html> -->
