body{
    min-height: 100vh;
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
}

#logo {
    display: none;
}

.container {
    width: 80%;
    margin: 50px;
    margin-top: 10px;
    text-align: center; 
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 700px;   
    height: auto; 
    margin: 40px auto 0 auto;
}

.input-box {
    width: 350px;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--tertiary);
}

.btn {
    width: 100px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: var(--tertiary);
    color: var(--posts);
    cursor: pointer;
}

form p {
    font-style: italic;
    color:var(--posts);
    width: 350px;           
    margin: 5px auto 0;
}

.temp-btn {
    display: inline-block;
    margin-top: 20px; 
    text-decoration: none;
}

#webGLApp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
