
#logo {
    display: none;
}

#logo-dark {
    display: block;
}

body.lightmode #logo-dark {
    display: none;
}

body.lightmode #logo {
    display: block;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center; 
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 550px;   
    height: auto; 
    margin: 40px auto 0 auto;
}

.input-box {
    width: 350px;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
}

.btn {
    width: 100px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: var(--secondary);
    color: var(--posts);
    cursor: pointer;
}

form p {
    font-style: italic;
    color:var(--posts);
    width: 350px;           
    margin: 5px auto 0;
}

.temp-btn {
    display: inline-block;
    margin-top: 20px; 
    text-decoration: none;
}