<!DOCTYPE html>
<html>

<head>
    <title>Inkling</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="login-design.css">
    <script type="text/javascript" src="themeswitch.js" defer></script>
    <script src="Account.js"></script>
</head>

<body>

    <img src="../assets/login-logo-lightmode.png" alt="Inkling" class="logo-img" id="logo">
    <img src="../assets/login-logo-darkmode.png" alt="Inkling" class="logo-img" id="logo-dark">
        
    <div class="container">
       <form onsubmit="login(event)" method="post">
        <input type="text" id="username" placeholder="Username" class="input-box">
        <br><br>
        <input type="password" id="password" placeholder="Password" class="input-box">
        <p>Don't have an account? <a href="Create Account Page.html">Sign Up</a></p>
        <br><br>
        <button type="submit" class="btn">Login</button>
    </form>
        <a href="Home-Page.html" class="btn temp-btn">Temporary</a>
    </div>    


</body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="AnimatedBG.js"></script>

</html>
