<!DOCTYPE html>
<html>
    <head>
        <title>User Profile Edit Page</title>
    <link rel="stylesheet" href="Profile-Settings.css">
    </head>
<body>
<div class="containersettings">

  <div class="row rowset">
  <a href="" class="btn back"> ⮜ Go back</a> 
  <a href="Profile Settings Page.html" class="btn back"> ⚙︎ General Settings</a>
  </div>

  <div class="setting">
    <br>
    <h3>Change Display Name</h3>
    <label><input type="text" name="newdisplayname" placeholder="New Display Name"> </label> 
  </div>

  <div class="setting">
    <h3>Change Bio</h3>
    <label><input type="text" name="newbio" placeholder="About Me"> </label> 
  </div>

  <div class="setting">
    <h3>Add Tags</h3>
    <label><input type="text" name="newbio" placeholder="e.g: '#Creative, #Inspired'"> </label> 
  </div>

  <div class="setting">
    <h3>Set Location</h3>
    <label><input type="text" name="newdisplayname" placeholder="City / Country (Optional)"> </label> 
  </div>

  <div class="setting">
    <h3>Website</h3>
    <label><input type="text" name="website" placeholder="Enter Website URL"> </label> 
  </div>

  <div class="setting">
    <h3>Edit Name</h3>
    <label><input type="text" name="firstname" placeholder="First Name"> </label> 
    <label><input type="text" name="lastname" placeholder="Last Name"> </label> 
    <br>
    <label><input type="checkbox" name="displayname"> Show Full Name on Profile</label>
  </div>

  <div class="setting">
  <form id="uploadForm">
    <label for="profilePic" class="upload-btn">
      <img id="profilePreview" src="../assets/defaultuser.jpg" alt="Profile Picture" class="image" />
    </label>
    <h3>Change your profile picture</h3> <br>
      <label for="profilePic" class="btn">Change Photo</label>
    <input type="file" id="profilePic" accept="image/*" style="display:none" />
  </form>
  </div>

<div class="setting">
  <form id="uploadForm2">
    <label for="coverPic" class="upload-btn">
      <img id="coverPreview" src="../assets/defaultcover.jpg" alt="Cover Picture" class="cover" />
    </label>
    <h3>Change your cover picture</h3> <br>
      <label for="coverPic" class="btn">Change Cover Photo</label>
    <input type="file" id="coverPic" accept="image/*" style="display:none" />
  </form>
  </div>

  <div class="setting">
    <br>
    <a href="" class="btn"> Save Changes </a>
  </div>

</div>
</body>
</html>
