<!DOCTYPE html>
<html>
    <head>
        <title>User Profile Settings Page</title>
    <link rel="stylesheet" href="Profile-Settings.css">
    <link rel="stylesheet" href="stylesheet.css">
    </head>
<body>

<div class="containersettings">
  <div class="setting">
    <h3>Change Password</h3><br>
    <a href="Change Password Page.html" class="btn">Change your password</a>
  </div>

  <div class="setting">
    <h3>Notifications</h3>
    <label class="switch">
      <input type="checkbox" id='settingsnotification'>
      <span class="slider"></span>
    </label>
  </div>

  <div class="setting">
    <h3>Delete Account</h3><br>
    <a href=" Delete Account Page.html" class="btn + danger-btn" id='settingdelete'>Delete</a>
  </div>

</div>
<script src="/Controller/utils.js"></script>
<script src="/Controller/themeswitch.js"></script>
<script src="/Controller/popup script.js"></script>
<script src="/Controller/ProfileSettingsPage.js"></script>
</body>
</html>
